.git
.idea
.pytest_cache
.venv
.vscode
compiled
compose
venv

.bumpversion.cfg
.dockerignore
.gitignore
docker-compose.arm.yaml
docker-compose.yaml
Dockerfile
Dockerfile.armhf
Makefile
README.md
requirements-dev.txt

**/*.iml
**/*.pyc
**/__pycache__
