.git
.idea
.pytest_cache
.travis
.venv
.vscode
dist
docs
htmlcov
pnp.egg-info
tests
venv

compiled
compose

.coverage
.gitignore
.bumpversion.cfg
.travis.yml
*.iml


**/*.pyc
**/__pycache__

Dockerfile
Dockerfile.armhf

Makefile